/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;
    font-family: Verdana;
}


 
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row{
    padding-bottom: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/   
img {
    max-width: 100%;
    height: auto;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x:auto;
}
a {
    text-decoration: none;
    color: #c1cff1;
    
}
table, th, td {
    border: 1px solid #cdcdcd;
    padding:5px;
    background-color: #343434;
  }
  .center{
      text-align:center;
  }
  .error-message {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #842029;
    background-color: lightsteelblue;
    border-color: #f5c2c7;
    text-align:center;
    font-weight:bold;
}
body{
    background-color: #1b1b1b;
    color: #ffffff;
    padding: 3% 5%;
}
label{
    font-size: 1.1em;
}
.labels>label, button{
    font-size: 24px;
    font-weight: bold;
}
#memo-form{
    background-color: #272727;
    padding: 2.5%;
    border-radius: 15px;
}
input[type=text],
input[type=tel],
textarea,
select{
    border-radius: 5px;
    width: 100%;
}
button{
    background-color: #cdcdcd;
    color: #1b1b1b;
    padding: 5% 12.5%;
    border: #1b1b1b 5px solid;
    border-radius: 50px;
}button:hover{
    background-color: #1b1b1b;
    color: #fff;
    padding: 5% 12.5%;
    border: #fff 5px solid;
    border-radius: 50px;
    scale: .9;
}
#lexid, #website, #msisdn{
    width: auto;
}
p{
    line-height: 2rem;
}
